.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-bottom: 20px;
    color: #fff;
    background: #50c0ff;
}
.main main,
.main header,
.main main section,
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}
.welcome{
    width: 95%;
    margin-top: 30px;
}
.main main section h3,
.main main section h2{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    font-size: 36px;
    text-align: center;
}
.main main section h3{
    margin-top: 0;
}
.main main section h2{
    font-size: 20px;
}
.main main p{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.main header{
    align-items: center;
    padding: 20px;
}
@media (min-width: 992px){
    .main main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
    .welcome{
        justify-content: space-between;
        width: 40%;
        height: 130px;
        margin-top: 50px;
    }
    .main header{
        align-items: flex-end;
    }
    .main main section h2,
    .main main p{
        font-size: 20px;
    }
}