.mainBtn{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px 15px;
    color: rgb(89,195,255);
    font-size: 20px;
    border: 1px solid rgb(89,195,255);
    border-radius: 10em;
    background: #fff;
}
.mainBtn:hover{
    cursor: pointer;
    color: #fff;
    border-color: #fff;
    background: rgb(89,195,255);
}
@media (min-width: 768px){
    .mainBtn{
        margin-left: auto;
        margin-right: 0;
    }
    .mainBtn__type,
    .tmpCloseBtn{
        margin: 0 auto;
    }
}