.main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: rgb(89,195,255);
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    padding: 15px;
}
main,
.greeting{
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
}
main{
    width: 95%;
}
.greeting h3,
.greeting h4{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.greeting h4{
    font-size: 20px;
}
@media (min-width: 768px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .greeting{
        width: 100%;
    }
}